.history{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
  position: relative;
}
.history__query-area{
  width: 70%;
}
.history__head{
  display: flex;
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 13px;
}
.query{
  background-color: #f0f2ff;
  display: flex;
  align-items: center;
  /*justify-content: space-around;*/
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 13px;

}
.query__query-string{
  width: 348px;
}

.query__date{
  width: 174px;
}

.query__owner-login{
  width: 117px;
}

.history__head-query{
width: 348px;
}
.history__head-date{
  width: 174px;
}
.history__head-user{
  width: 116px;
}

.page__loader{
  width: 230px;
  top: 0;
  left: 40%;
  position: absolute;
}
