<div #history class="container history">
  <h1 class="history__title" *ngIf="loaderVisibilityStyle === 'hidden'">Query History</h1>
  <div class="nothing" *ngIf="!queryHistory.length && loaderVisibilityStyle === 'hidden'">Nothing to show</div>
  <section class="history__table" *ngIf="queryHistory.length">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Query</th>
        <th scope="col">Date</th>
        <th scope="col">User</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let query of queryHistory">
        <th scope="row">{{query.query}}</th>
        <td>{{query.created_at}}</td>
        <td>{{query.user_name}}</td>
      </tr>
      </tbody>
    </table>
  </section>
  <img class="page__loader" [ngStyle]="{'visibility': loaderVisibilityStyle}"  src="../../assets/images/cat-spinner.gif" alt="">
</div>
