.login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}
.login__form{
  width: 40%;
  border: 1px solid #d5d2ea;
  padding: 25px;
  border-radius: 15px;
  position: relative;

}
.login__register-link{
  margin-left: 20px;
}

.login__error {
  color: red;
  display: none;
  padding-bottom: 14px;
}

.login__loader{
  visibility: hidden;
  position: absolute;
  width: 50px;
  top: 3px;
  right: 3px;

}

