<div class="container login">
  <h1 class="login__title">Login</h1>
  <form #f="ngForm" (ngSubmit)="onLogin(f)" class="login__form">
    <div class="form-group login__row">
      <label for="login" class="login__label">Login</label>
      <input name="login" type="text" class="form-control login__input" id="login" aria-describedby="emailHelp" placeholder="Enter login" ngModel>
    </div>
    <div class="form-group login__row">
      <label for="password" class="login__label">Password</label>
      <input type="password" class="form-control login__input" id="password" placeholder="Enter Password" name="password" ngModel>
    </div>
    <div class="login__error" [ngStyle]="{'display': errorVisibilityStyle}">{{loginErrorMessage}}</div>
    <button type="submit" class="btn btn-primary login__submit">Sign in</button>
    <img class="login__loader" [ngStyle]="{'visibility': loaderVisibilityStyle}" src="../../assets/images/cat-spinner.gif" alt="">
    <a routerLink="/register" class="login__register-link">Register</a>
  </form>
</div>
