.header{
  background-color: #a1a8ff;
  display: flex;
  justify-content: space-between;
}
.header-right{
  margin-right: 15px;
}
.header__link{
  color: white !important;
}

.header__item:last-child{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__item:last-child > .header__link{
  margin-right: -10px;
}

.header__logout-icon{
  color: white;
}

.active-link{
  background-color: #8b94f3;
}

.header__user-name{
  margin-right: -11px;
  color: #3e88e4;
}
