<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{title}}</title>
</head>
<body>
<div class="header">
  <ul class="nav header-left">
    <li class="nav-item header__item" *ngIf="!isNotAuthorized">
      <a class="nav-link header__link" routerLink="/search" routerLinkActive="active-link">Search</a>
    </li>
    <li class="nav-item header__item" *ngIf="!isNotAuthorized">
      <a class="nav-link header__link" routerLink="/favourites" routerLinkActive="active-link">Favourites</a>
    </li>
    <li class="nav-item header__item">
      <a class="nav-link header__link" routerLink="/history" routerLinkActive="active-link">History</a>
    </li>
  </ul>
  <ul class="nav header-right">
    <li class="nav-item header__item" *ngIf="!isNotAuthorized">
      <span class="header__user-name">({{userName}})</span>
      <a class="nav-link header__link" (click)="onLogout()">Logout</a>
      <i class="fa fa-sign-out header__logout-icon" aria-hidden="true"></i>
    </li>
    <li class="nav-item header__item" *ngIf="isNotAuthorized">
      <a class="nav-link header__link" routerLink="/login" routerLinkActive="active-link">Login</a>
      <a class="nav-link header__link" routerLink="/register" routerLinkActive="active-link">Registration</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>

</body>
</html>
