<div class="container favourites">
  <h1 class="favourites__title" *ngIf="loaderVisibilityStyle === 'hidden'">Favourite questions</h1>
  <div class="nothing" *ngIf="!favouriteQuestions.length && loaderVisibilityStyle === 'hidden'">Nothing to show</div>
  <section class="favourites__table" *ngIf="favouriteQuestions.length">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Creation date</th>
        <th scope="col">Author</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let question of favouriteQuestions">
        <th scope="row"><a href="{{question.link}}" target="_blank" class="favourites__link-to-original">{{question.title}}</a>
        </th>
        <td>{{question.creation_date}}</td>
        <td>{{question.author_name}}</td>
        <td> <i (click)="onRemoveFavourite(question)" class="fa fa-times favourite-question__remove-icon" aria-hidden="true"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
  <img class="page__loader" [ngStyle]="{'visibility': loaderVisibilityStyle}" src="../../assets/images/cat-spinner.gif" alt="">
</div>
