.favourites{
  margin-top: 30px;
  position: relative;
  /*visibility: hidden;*/
}
.favourite-question{
  display: flex;
  align-items: center;
  background-color: #f0f2ff;
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 13px;
}
.favourite-question__title{
  width: 459px;
}
.favourite-question__creation-date{
  width: 220px;
}

.favourite-question__author-name {
  width: 220px;
}
.favourite-question__remove-icon {
  width: 2%;
  cursor: pointer;
}
.favourites__head{
  display: flex;
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 13px;
}
.favourites__head-title{
  width: 459px;
}
.favourites__head-creation-date{
  width: 220px;
}

.favourites__head-author{
  width: 220px;
}

.page__loader{
  width: 230px;
  top: 0;
  left: 40%;
  position: absolute;
}
