<div class="container search-area">
  <form #f="ngForm" class="search-area__search-form search-form" (ngSubmit)="onSearch(searchQuery, 1)">
    <div class="form-group search-form__row">
      <label for="search" class="sr-only">Search</label>
      <input type="search"  name="searchQuery" class="form-control form-control-lg col-lg-10" id="search"
             placeholder="Enter query string" [(ngModel)]="searchQuery">
      <button type="submit" class="btn btn-primary col-lg-2 search__submit-button">Search</button>
    </div>
  </form>
  <section class="questions-area">
    <div class="questions-area__info-top" *ngIf="questions.length">
      {{pCountFrom}} - {{pCountTo}} of {{pageCount}} | total: {{questionCount}}
    </div>
    <article *ngFor="let question of questions; index as id" [className]="question.isAnswered ? 'question answered' : 'question'">
      <div class="question__top">
        <div class="question__statistic-info">
          <div class="question__score">score: {{question.score}}</div>|<div class="question__view-count">views: {{question.viewCount}}</div>
        </div>
        <div class="question__favourite">
          <i #fav (click)="onQuestionSave(question)" [ngClass]="{'question__favourite-button_checked': question.isFavourite}" [className]="question.isFavourite ? 'fa fa-star-o question__favourite-button question__favourite-button_checked' : 'fa fa-star-o question__favourite-button'" aria-hidden="true"></i>
        </div>
      </div>
      <a href="{{question.link}}" target="_blank" class="question__link-to-original">
        <div class="question__title">{{question.title}}
        </div>
      </a>
      <div class="question__bottom">
        <div class="question__tags">
          <h5 *ngFor="let tag of question.tags"><span class="badge badge-secondary question__tag">{{tag}}</span></h5>
        </div>
        <div class="question__creation-info">
          <div class="question__author-name">created by {{question.authorName}}</div>|<div class="question__creation-date">{{question.creationDate * 1000 | date :'medium'}}</div>
        </div>
      </div>
    </article>
  </section>
  <nav aria-label="Page navigation example" *ngIf="questions?.length">
    <ul class="pagination">
      <li class="page-item">
        <span class="page-link" href="#" aria-label="Previous" (click)="onSearch(searchQuery, page-1)">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </span>
      </li>
      <li class="page-item" *ngFor="let pNumber of pageArray">
        <span [className]="pNumber == page ? 'active-page-link page-link' : 'page-link' " (click)="onSearch(searchQuery, pNumber)">{{pNumber}}</span>
      </li>
      <li class="page-item">
        <span class="page-link" aria-label="Next" (click)="onSearch(searchQuery, page + 1)">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </span>
      </li>
      <li>
      </li>
    </ul>
  </nav>
  <div class="questions-area__info-bottom" *ngIf="questions.length">
    {{pCountFrom}} - {{pCountTo}} of {{pageCount}} pages | total: {{questionCount}} questions
  </div>
  <img class="pagination__loader" [ngStyle]="{'visibility': visibilityStyle}" src="../../assets/images/cat-spinner.gif" alt="">
</div>
