.search-form{
  margin-top: 40px;
}
.search-form__row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.search__submit-button{
  height: 48px;
}


.question{
  position: relative;
  background-color: #f0f2ff;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;

}
.answered{
  border: 1px solid green;
}
.question__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question__favourite-button{
  color: gray;
  cursor: pointer;
}
.question__favourite-button:hover{
  font-size: 17px;
}
.question__favourite-button_checked{
  color: #43cc43;
}
.question__statistic-info{
  display: flex;
  color: gray;
}
.question__score{
  margin-right: 6px;
}
.question__view-count{
  margin-left: 6px;
  margin-right: 6px;
}
.question__sign{
  color: #43cc43;
}
.question__sign:before{
  content: "| ";
  color: gray;
}
.question__title{
  font-size: 25px;
}

.question__tags{
  display: flex;
}
.question__tag{
  margin-right: 7px;
}
.question__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question__creation-info{
  display: flex;
  color: gray;
}
.question__author-name{
  margin-right: 6px;
}
.question__creation-date{
  margin-left: 6px;
}

.pagination__loader{
  width: 40px;
  margin-left: 20px;
  visibility: hidden;
}

.active-page-link{
  background-color: #e9e9ff;
}
.questions-area__info-top{
  color: gray;
  display: flex;
  justify-content: flex-end;
}

.questions-area__info-bottom{
  color: gray;
  margin-top: -5px;
}
