<div class="container register">
  <h1 class="register__header">Registration</h1>
  <form #f="ngForm" (ngSubmit)="onRegister(f)" class="register__form">
    <div class="form-group register__row">
      <label for="name" class="register__label">Name</label>
      <input name="name" type="text" class="form-control register__input" id="name" aria-describedby="emailHelp" placeholder="Enter your name" ngModel>
    </div>
    <div class="form-group register__row">
      <label for="login" class="register__label">Login</label>
      <input name="login" type="text" class="form-control register__input" id="login" aria-describedby="emailHelp" placeholder="Enter your login" ngModel>
    </div>
    <div class="form-group register__row">
      <label for="email" class="register__label">Email</label>
      <input name="email" type="email" class="form-control register__input" id="email" aria-describedby="emailHelp" placeholder="Enter your email" ngModel>
    </div>
    <div class="form-group register__row">
      <label for="password" class="register__label">Password</label>
      <input name="password" type="password" class="form-control register__input" id="password" aria-describedby="emailHelp" placeholder="Enter your password" ngModel>
    </div>
    <div class="form-group register__row">
      <label for="r_password" class="register__label">Repeat password</label>
      <input name="r_password" type="password" class="form-control register__input" id="r_password" aria-describedby="emailHelp" placeholder="Repeat your password" ngModel>
    </div>
	<div class="form-group register__row">
		<div class="register__error" [ngStyle]="{'display': errorVisibilityStyle}">{{registerError}}</div>
    </div>
    <button type="submit" class="btn btn-primary login__submit">Sign up</button>
    <img class="register__loader" [ngStyle]="{'visibility': loaderVisibilityStyle}" src="../../assets/images/cat-spinner.gif" alt="">
    <a routerLink="/login" class="register__register-link">I have an account!</a>
  </form>
</div>
