.register{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}
.register__form{
  width: 40%;
  border: 1px solid #d5d2ea;
  padding: 25px;
  border-radius: 15px;
  position: relative;
}
.register__register-link{
  margin-left: 20px;
}

.register__header{
  margin-top: -20px;
  margin-bottom: 5px;
}

.register__error{
	color: red;
}

.register__loader{
  visibility: hidden;
  position: absolute;
  width: 50px;
  top: 3px;
  right: 3px;

}
